.desc-block-left {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0; 
}

.leftside, .rightside {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.Champs {
    display: flex;
    width: 20%;
}
.bracketright {
    display: flex;
    flex-direction: row-reverse;

}

.maincontainer {
    display: flex;
    flex-wrap: nowrap
    min-width: 1800px;
    height: 100%;
}

section { 
    width: 130px; 
    height: 520px; 
    float: left;
    
}

section > div { 
    width: 100px; 
    height: 20px; 
    border: 1px solid #000; 
    margin: 10px 0; 
    background: #73789F; 
    color: black; 
    padding: 10px 10px 10px 20px;
    background-color: white; 
    align-content: left;
}

section > div:nth-child(2n) { 
    margin-bottom: 40px;
    background-color: white;
}

.connecter { 
    width: 30px; 
    height: 520px; 
    float: left; 
    position: relative;
}

.line { 
    width: 30px; 
    height: 520px; 
    float: left; 
}

.connecter div { 
    border: 1px solid #000; 
    border-left: none; 
    height: 50px; 
    width: 100%; 
    margin: 80px 0 0 1px;
}

.connecter div:first-child { 
    margin: 32px 0 0 1px; 
}

.line div { 
    border-top: 1px solid #000; 
    margin: 133px 0 0 1px; 
}

.line div:first-child { 
    margin-top: 55px; 
}

#quarterFinals > div { 
    margin-top: 91px; 
}

#quarterFinals > div:first-child { 
    margin-top: 37px; 
}

#conn2 div { 
    margin-top: 133px; 
    height: 133px;
}

#conn2 div:first-child { 
    margin-top: 57px; 
}

#line2 div { 
    margin-top: 270px; 
}

#line2 div:first-child { 
    margin-top: 125px; 
}
#semiFinals > div { 
    margin-top: 230px; 
}
#semiFinals > div:first-child { 
    margin-top: 105px; 
}
#conn3 div { 
    margin-top: 125px; 
    height: 270px;
}

#line3 div { 
    margin-top: 270px; 
}

#final > div { 
    margin-top: 250px; 
}
